* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI', Roboto, Helvetica, Arial, sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}
nav {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 10px 20px;
  width: 100%;
}
nav li {
  margin: 0 15px;
}
nav a {
  color: #5AAEA1;
  text-decoration: none;
  transition: color 0.3s ease;
}
nav a:hover {
  color: #B25051;
}
.hideOnMobile {
  font-size: small;
}
nav li:first-child {
  margin-right: auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-brand {
  display: flex;
  align-items: center;
}
.logo-link {
  display: flex;
  align-items: center;
  font-size: medium;
  font-weight: 500;
}
.logo-image {
  height: 50px;
  margin-right: 10px;
}
.back-buttons {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.back-button {
  height: 50px;
  margin-right: 10px;
}
.first-page {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../img/banner.png') center/cover no-repeat;
}
.first-page .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.first-page h1 {
  font-size: clamp(35.641px, 2.228rem + ((1vw - 3.2px) * 2.294), 65px);
  margin-bottom: 20px;
  text-align: center;
  color: white;
  font-weight: 700;
}
.cta-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 15px;
  margin-top: 50px;
  font-size: clamp(22px, 1.375rem + ((1vw - 3.2px) * 0.625), 30px);
}
.cta-button {
  background-color: #317BE4;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}
.cta-button:hover {
  background-color: #B25051;
}
.second-page,
.third-page,
.fourth-page {
  padding: 50px 20px;
  background-color: #f0f0f0;
  text-align: center;
}
.second-page h2,
.fourth-page h2 {
  font-size: clamp(22px, 1.375rem + ((1vw - 3.2px) * 0.625), 30px);
  margin-bottom: 30px;
  color: black;
}
.third-page h2 {
  color: white;
}
.screenshots {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.screenshot {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  width: 270px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
.screenshot:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.screenshot-image img {
  max-width: 100%;
  height: auto;
  display: block;
}
.screenshot-description {
  padding: 10px;
  text-align: center;
}
.screenshot-description h3 {
  margin: -30px 0 25px;
  font-size: 20px;
  color: black;
}
.screenshot-description p {
  margin: 0;
  font-size: inherit;
  color: black;
}
.third-page {
  padding: 50px 20px;
  background-color: black;
  text-align: center;
  color: white;
}
.third-page h2 {
  font-size: clamp(22px, 1.375rem + ((1vw - 3.2px) * 0.625), 30px);
  margin-bottom: 30px;
}
.features {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.feature {
  background-color: #282828;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
  color: #f0f0f0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}
.feature:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}
.feature-description {
  padding: 10px;
}
.feature-description h3 {
  margin: -5px 0 25px;
  font-size: 20px;
}
.feature-description p {
  margin: 0;
  font-size: inherit;
}
.card {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
}
.list-group-item {
  text-align: left;
}
.content-tab {
  display: none;
}
.content-tab.active {
  display: block;
}
.nav-tabs .nav-link {
  color:#B25051;
}
.nav-tabs .nav-link:hover {
  color: #5AAEA1;
}
.list-group-item a {
  text-decoration: none;
  color: inherit;
  cursor: default;
  font-family: monospace;
}
.list-group-item a:hover {
  color: #5AAEA1;
}
.about-info p {
  color: black;
}
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  nav ul {
    justify-content: center;
  }

  nav li {
    flex: 1 1 100%;
    text-align: center;
  }

  .hideOnMobile {
    display: none;
  }

  .screenshots {
    flex-direction: column;
    align-items: center;
  }

  .screenshot {
    width: 60%;
  }

  .features {
    flex-direction: column;
    align-items: center;
  }

  .feature {
    width: 60%;
  }

  .cta-buttons {
    flex-direction: column;
    gap: 20px;
    font-size: 15px;
  }

  .cta-buttons .cta-button {
    padding: 8px 16px;
    font-size: 15px;
  }
}
